
* {
    text-align: center;
    color: blue;
    font-family: "Arial Black", Gadget, sans-serif"
    
}

body {

    background:url('https://cdn.discordapp.com/attachments/857993021818929202/858029440394985532/image1.gif');
    background-repeat:no-repeat ;
    background-size: cover;
}

#container {

   
 
}


#header {
    text-align: center;
    margin-top: 47px;
    margin: auto;
    font-size: 39px;
    color: rgb(255, 255, 255)

}


.center-align {
    text-align: center;
}

p {
    font-family: "Arial Black, Gadget, sans-serif";
    font-size: 27px;
}

a, a:visited {
    color: rgb(255, 255, 255)
}

#link, #username, #content, #avatar {
    font-size: 25px;
    background-color: rgb(35, 9, 56);
    color: blue;
    width: 75%;
    padding: 20px;
    border: 2px dotted blue;
}

#btn {
    border-radius: 20px;
    width: 35%;
    font-size: 35px;
    font-weight: 400;
    color: blue;
    margin-top: 25px;
    padding: 17px;
    background-image:url('https://cdn.discordapp.com/attachments/857993021818929202/858029440394985532/image1.gif');
    border: 2px double blue;
}

#btn:hover { 
    color: red;
    border: 2px double red;
}

#log {
    text-align: center;
    width: 5%;
    background-color: rgb(255, 255, 255);

    color: rgb(255, 255, 255);
}
h1{
    text-shadow: 5px 5px 5px red
}
h3{
    animation-name: eren;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

@keyframes eren{
from{
    transform: translateY(-400px);
}
to{
    margin-bottom: 0;
    transform: translateY(0px);
    text-shadow:7px 7px 7px purple;

}
}